ClienteMillasKm/xml-resources/web-service-references/Convertidor/wsdl/localhost_43240/MillasAKm/Convertidor.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices.cesar.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.cesar.com/">

<xs:element name="kilometrosamillas" type="tns:kilometrosamillas"/>

<xs:element name="kilometrosamillasResponse" type="tns:kilometrosamillasResponse"/>

<xs:element name="millasakilometros" type="tns:millasakilometros"/>

<xs:element name="millasakilometrosResponse" type="tns:millasakilometrosResponse"/>

<xs:complexType name="millasakilometros">
<xs:sequence>
<xs:element name="millas" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="millasakilometrosResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kilometrosamillas">
<xs:sequence>
<xs:element name="kilometros" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kilometrosamillasResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>